
nav {
    font-family: Arial;
    font-size: 26px;
}
.user {
    width: 400px;
    background-color: cadetblue;
    font-family: Arial;
    font-size: 26px;
    text-align: center;
    margin-top: 5px;
}